.footer__autor {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}
@media screen and (max-width: 425px) {
  .footer__autor {
    font-size: 14px;
    line-height: 16.94px;
  }
}
