.card__trash {
  background-image: url("../../../images/trash.svg");
  background-size: contain;
  width: 18px;
  height: 19px;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  filter: drop-shadow(0 0 3px black);
}
.card__trash:hover {
  opacity: 0.6;
  cursor: pointer;
}
