.profile__button_act_add {
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;
  align-self: center;
  justify-content: end;
  background-image: url("../../../../images/profile__plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .profile__button_act_add {
    min-width: 282px;
    background-size: 16px;
  }
}