.profile__button_act_edit {
  width: 24px;
  height: 24px;
  border: solid 1px #fff;
  border-radius: 0;
  margin: 5px 0 0 18px;
  align-self: center;
  background-image: url("../../../../images/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .profile__button_act_edit {
    width: 18px;
    height: 18px;
    margin: 0 0 0 10px;
    order: 2;
    background-size: 7.5px;
  }
}
