.form {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 530px) {
  .form {
    max-width: 282px;
  }
}
